.card {
  border-radius: 0.6rem;
  padding: 0.8rem 1rem;
  box-shadow: 0 0 0.5rem #12121221;
  background-color: #fff;
}
.ticket-id {
  font-size: 0.6rem;
  font-weight: bold;
  color: #6b6f76;
}
.title {
  font-size: 0.75rem;
  font-weight: bold;
  color: #282a2f;
}
.middle {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.footer {
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}
.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #edeff2;
}
.tag-icon {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 9999px;
  background-color: #bec2c8;
}
.tag-text {
  font-size: 0.75rem;
  font-weight: bold;
  color: #6b6f76;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.more-icon {
  display: grid;
  place-items: center;
  padding: 0.25rem 0.5rem;
  border: 1px solid #edeff2;
  border-radius: 0.25rem;
}

svg {
  flex-shrink: 0;
}
